*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  body {
    background-color: #BBEED8;

    h1 {
      color: #414242;
    }

    p {
      color: #eca7a7;
    }
  }