@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  body {
    background-color: #BBEED8;
    font-family: 'Roboto', sans-serif;

    h1 {
      position: fixed;
      color: #414242;
      font-weight: 900;
      font-size: 48px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    p {
      position: fixed;
      color: #eca7a7;
      font-weight: 100;
      font-size: 48px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }